.header {
  background-color: rgb(234, 250, 215);
  height: 120px;
  .title_container {
    display: flex;
    align-items: center;
    .title {
      letter-spacing: 4px;
      font-size: 2rem;
    }
    .title+p{
      font-size: 20px;
      margin-left: auto;
    }
  }
  .wrapper {
    display: flex;
    gap: 20px;
  }
}
